body {
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.headshot {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border: 5px solid #C9E2FF;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {

}

h2 {
  font-family: 'Jura', sans-serif;
  font-size: 42px;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.3;
  text-transform: uppercase;
}

header {
  /*border: 2px solid red;*/
  z-index: 9999;
}

.jura-font {
  font-family: 'Jura', sans-serif;
  text-transform: uppercase;
}

.libre-font {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  margin-left: 10px;
}

.lowercase {
  text-transform: lowercase;
}

.brand {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
}

.name {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.name-contact {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.brand a {
  text-decoration: none;
  color: initial;
}

.brand-sub {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: italic;
  padding-top: 5px;
  font-size: 16px;
  opacity: 0.6;
}

.header-top {
  /*background: yellow;*/
  padding: 20px 20px;
}

.header-bot {
  /*background: orange;*/
  padding: 14px 14px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

.header-bot ul {
  text-align: center;
}

.header-bot ul li {
  display: inline;
}

.header-bot ul li:not(:last-child) {
  margin-right: 30px;
}

.nav-links {
  font-weight: 400;
  opacity: 0.5;
}

.nav-links:hover, .nav-links:active, .nav-links:focus {
  opacity: 1;
}

.btn {
  font-family: 'Jura', sans-serif;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

.btn-free {
  float: right;
  position: relative;
  bottom: 45px;
  right: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  background: #f46b45;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 10px 14px;
  border-radius: 4px;
  /*opacity: 0.5;*/
}

.btn-free:hover, .btn-free:active, .btn-free:focus {
  opacity: 0.8;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.block {
  /*border: 2px solid blue;*/
  padding: 80px 0;
}

.block-main {
  background: #4A90E2;
  background-image: url(macbook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
  min-height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header {
  color: #C9E2FF;
  font-family: 'Open Sans', sans-serif;
  text-transform: initial;
}

.block-main .container {

}

.roles {
  display: block;
  text-align: center;
  color: #C9E2FF;
  border: 3px solid #C9E2FF;
  padding: 10px 12px;
  font-size: 24px;
  font-family: 'Jura', sans-serif;
  margin: 0 auto;
  width: fit-content;
  opacity: 0.5;
  text-transform: uppercase;
}

.block-problem {
  background: #FAEBB6;
}

.block-problem p {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  line-height: 1.7;
  opacity: 0.7;
}

.block-problem .card {
  /*border: 2px solid red;*/
  flex: 1;
  text-align: center;
  padding: 0 30px;
}

.block-problem .card h3 {
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 20px;
  font-family: 'Jura', sans-serif;
}

.block-problem .card p {
  font-size: 13px;
  opacity: 0.7;
}

.block-problem .card .card-icon {
  width: 110px;
  height: auto;
  opacity: 0.4;
}

.block-problem .row-card {
  display: flex;
  margin-top: 40px;
}

.block-solution {
  background: #87D37C;
}

.solution-sub-header {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 24px;
}

.block-solution p {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  line-height: 1.7;
  opacity: 0.7;
}

.block-solution .card {
  /*border: 2px solid red;*/
  flex: 1;
  text-align: center;
  padding: 0 30px;
}

.block-solution .card h3 {
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-top: 20px;
  font-family: 'Jura', sans-serif;
  font-size: 20px;
}

.block-solution .card p {
  font-size: 13px;
  opacity: 0.7;
}

.block-solution .card .card-icon {
  width: 110px;
  height: auto;
  opacity: 0.4;
}

.block-solution .row-card {
  display: flex;
  margin-top: 40px;
}

.port-serv-container {
  display: flex;
}

.block-port-serv p {
  opacity: 0.7;
}

.block-section {
  flex: 1;
  padding: 0 30px;
  /*border: 2px solid red;*/
}

.block-section:not(:last-child) {
  border-right: 1px solid rgba(0,0,0,0.2);
}

.block-section h2 {
  margin-bottom: 20px;
}

.block-section p {
  text-align: center;
  margin-bottom: 20px;
}

.btn-port-serv {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 16px;
  background: #f46b45;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 14px 18px;
  border-radius: 4px;
  /*opacity: 0.5;*/
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.btn-port-serv:hover, .btn-port-serv:active, .btn-port-serv:focus {
  opacity: 0.8;
}

.block-free {
  background: #4A90E2;
  color: #C9E2FF;
}

.block-free h2 {
  
}

.contact-message-home {
  /*margin-left: auto;
  margin-right: auto;*/
  margin-bottom: 40px;
  /*text-align: center;*/
  font-size: 24px;
}

/*.block-free h4 {
  font-size: 24px;
  margin-bottom: 10px;
}*/

.block-free ul {
  padding-left: 20px;
}

.block-free ul li {
  line-height: 2;
  font-size: 18px;
}

.block-free ul li:before {
  content: '✓';
  padding-right: 6px;
}

.row-section {
  display: flex;
}

.consult-section {
  /*border: 2px solid red;*/
}

.consult-section-copy {
  flex: 1;
}

.consult-img-home {
  width: 240px;
  height: auto;
}

.consult-btn-row {
  margin-top: 40px;
}

.btn-consult {
  text-transform: uppercase;
  /*letter-spacing: 1.5px;*/
  font-size: 24px;
  background: #87D37C;
  color: #444;
  padding: 10px 14px;
  border-radius: 4px;
  /*opacity: 0.5;*/
  width: fit-content;
  margin: 0 auto;
}

.btn-consult:hover, .btn-consult:active, .btn-consult:focus {
  background: #abe0a3;
}

.btn-no {
  margin-left: 20px;
}

.block-bonus {
  background: #87D37C;
}

.block-bonus h3 {
  font-size: 26px;
  text-align: center;
  font-weight: 600;
}

footer {
  text-align: center;
  padding: 20px 20px;
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
}

footer ul {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  opacity: 0.7;
}

footer ul li {
  display: inline;
}

footer ul li:not(:last-child) {
  margin-right: 14px;
}

footer ul li a:hover, footer ul li a:active, footer ul li a:focus {
  text-decoration: underline;
}

.copy {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  opacity: 0.7;
}

.block-about {
  background: #4A90E2;
  color: #C9E2FF;
  text-align: center;
}

.block-about h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.block-about p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
  opacity: 0.7;
}

.block-fav {
  background: #333;
  color: #fff;
}

.block-fav .card {
  /*border: 2px solid red;*/
  min-width: 30%;
  /*max-width: 320px;*/
  width: 30%;
  text-align: center;
  /*border-radius: 4px;*/
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  padding: 30px;
  margin: 20px;
  background: rgba(255,255,255,0.2);
}

.block-fav .card h3 {
  text-transform: uppercase;
  margin-bottom: 12px;
  /*margin-top: 20px;*/
  font-family: 'Jura', sans-serif;
}

.block-fav .card p {
  opacity: 0.7;
}

.fav-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.fav-card-container .card {
  flex: 1;
}

.fav-card-container .card:active, .fav-card-container .card:hover, .fav-card-container .card:focus {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.speed-header {
  margin-top: 100px;
}

.speed-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.speed-card-container .card {
  flex: 1;
}

.speed-card-container .card:active, .speed-card-container .card:hover, .speed-card-container .card:focus {
  background: #304352;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.block-port {
  background: #4A90E2;
  color: #C9E2FF;
  text-align: center;
}

.block-port h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.block-port p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
  opacity: 0.7;
}

.port-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.port-card-container .card {
  flex: 1;
}

.block-portfolio .card {
  /*border: 2px solid red;*/
  min-width: 30%;
  /*max-width: 320px;*/
  width: 30%;
  min-height: 210px;
  text-align: center;
  /*border-radius: 4px;*/
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  /*padding: 30px;*/
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -ms-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  flex-direction: column;
}

.block-portfolio .card h3 {
  text-transform: uppercase;
  font-size: 24px;
  color: #C9E2FF;
  /*margin-bottom: 12px;*/
  /*margin-top: 20px;*/
  -webkit-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -moz-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -o-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  -ms-transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  transition: all 500ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  font-family: 'Jura', sans-serif;
}

.card-text {
  display: none;
  padding: 20px;
}

.card-bg {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.block-portfolio .card p {
  opacity: 0.7;
  margin-top: 12px;
  color: #C9E2FF;
}

.block-serv {
  background: #4A90E2;
  color: #C9E2FF;
  text-align: center;
}

.block-serv h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.block-serv p {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  line-height: 1.7;
  opacity: 0.7;
}

.block-services {
  /*background: #DCC6E0;*/
}

.panel-container {
  display: flex;
}

.panel-container .panel {
  flex: 1;
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
  opacity: 0.7;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
}

.panel-container .panel:hover, .panel-container .panel:active, .panel-container .panel:focus {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.4);
}

.panel-top {
  flex: 1;
}

.panel-bot {
  
}

.block-services .panel h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-family: 'Jura', sans-serif;
}

.block-services .panel h4 {
  font-size: 20px;
  margin-bottom: 17px;
  text-align: center;
  opacity: 0.7;
  font-family: 'Jura', sans-serif;
}

.block-services .panel p, .block-services .panel ul li {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.7;
  opacity: 0.7;
  font-size: 14px;
}

.block-services .panel ul li:before {
  content: '✓';
  padding-right: 6px;
}

.block-services .panel ul {
  padding-left: 10px;
  margin: 20px 0;
}

.block-services .panel small {
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.7;
  opacity: 0.7;
  font-size: 10px;
  display: block;
}

.cost {
  border-top: 1px solid #444;
  opacity: 0.2;
  padding-top: 10px;
  margin-top: 20px;
}

.btn-service {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 16px;
  background: #ff00cc;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  padding: 14px 18px;
  border-radius: 4px;
  /*opacity: 0.5;*/
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}

.btn-service:active, .btn-service:hover, .btn-service:focus {
  opacity: 0.7;
}

.btn-website {
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form-container {
  /*margin-left: 40px;*/
  margin-top: 30px;
}

.contact-options {
  /*margin-left: 40px;*/
}

.contact-options h4 {
  font-size: 20px;
  line-height: 1.7;
}

.contact-info {
  /*font-weight: 600;*/
  text-decoration: underline;
}

.or {
  opacity: 0.5;
}

.free-name-input {
  display: block;
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
  width: 70%;
  box-sizing: border-box;
  padding: 10px 10px;
  font-family: 'Open Sans', sans-serif;
}

.free-email-input {
  display: block;
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
  width: 70%;
  box-sizing: border-box;
  padding: 10px 10px;
  font-family: 'Open Sans', sans-serif;
}

.free-message-input {
  display: block;
  margin-bottom: 20px;
  border: none;
  font-size: 16px;
  width: 70%;
  box-sizing: border-box;
  padding: 10px 10px;
  font-family: 'Open Sans', sans-serif;
}

.free-submit-btn {
  text-transform: uppercase;
  /*letter-spacing: 1.5px;*/
  font-size: 24px;
  background: #87D37C;
  color: #444;
  padding: 10px 14px;
  border-radius: 4px;
  /*opacity: 0.5;*/
  width: fit-content;
  margin: 0 auto;
  border: none;
  font-family: 'Jura', sans-serif;
}

.free-submit-btn:hover, .free-submit-btn:active, .free-submit-btn:focus {
  cursor: pointer;
  background: #abe0a3;
}

.contact-icon {
  width: 24px;
  height: auto;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

.contact-message {
  font-size: 32px;
  margin-bottom: 30px;
}

.consult-img {
  width: 300px;
  height: auto;
}

.consult-img-section {
/*  width: 400px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  justify-content: center;*/
}

.block-term, .block-priv {
  background: #4A90E2;
  color: #C9E2FF;
  text-align: center;
}

.block-term h2, .block-priv h2 {
  margin: 0;
}

.block-terms h3, .block-privacy h3 {
  line-height: 1.7;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}

.block-terms p, .block-privacy p {
  line-height: 1.7;
  font-size: 14px;
  margin-bottom: 10px;
}

.mobile {
  display: none;
}

.desktop {
  display: initial;
}

@media screen and (max-width: 500px) /* Mobile */ {
  body {
    font-size: 12px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1;
  }

  .block {
    padding: 30px 0;
  }

  .container {
    padding: 0 30px;
    max-width: 500px;
  }
  
  .block-main {
    min-height: calc(100vh - 245px);
    background-size: 50%;
    background-position: 50% 56%;
    display: block;
  }

  .main-header {
    font-size: 24px;
    /*padding-top: 40px;*/
    margin-bottom: 180px;
    line-height: 1.3;
  }

  .btn-free {
    display: block;
    width: fit-content;
    position: static;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  
  .roles {
    font-size: 14px;
  }
  
  .block-problem .card p {
    font-size: 11px;
  }

  .block-problem .row-card {
    display: block;
    margin-top: 20px;
  }
  
  .block-problem .card:not(:last-child) {
    margin-bottom: 40px;
  }

  .block-problem .card h3 {
    font-size: 14px;
  }

  .solution-sub-header {
    font-size: 20px;
  }
  
  .block-solution .card p {
    font-size: 11px;
  }

  .block-solution .row-card {
    display: block;
    margin-top: 20px;
  }
  
  .block-solution .card:not(:last-child) {
    margin-bottom: 40px;
  }

  .block-solution .card h3 {
    font-size: 14px;
  }
  
  .port-serv-container {
    display: block;
    padding: 0 0;
  }

  .block-section:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  
  .port-section {
    padding-bottom: 30px;
  }

  .serv-section {
    margin-top: 30px;
  }

  .mobile {
    display: initial;
  }

  .desktop {
    display: none;
  }
}